body {
	background: white;
}


/****LEVELS LIST STYLES*****/
.hideLevelsList {
	display:none;
}

.displayLevelsList {
	display:block;
}

/*****DIESEASE LIST STYLES*****/
.hideDiseaseList {
	display:none;
}