body {
	background: white;
}


/****LEVELS LIST STYLES*****/
.levelsList {
	display:none;
}

.displayLevelsList.levelsList {
	display:block;
}

/*****DIESEASE LIST STYLES*****/
.hideDiseaseList {
	display:none;
}